<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login</title>
</head>
<body>
  <header>
    <div class="header1">
      <h1>Farmer Equipment Rental System</h1>
    </div>
    <!-- <div class="header2">
    <nav>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="checkout.html">Checkout</a></li>

      </ul>
    </nav>
  </div> -->
  </header>

  <div class="content">
  
  <div class="container">
    <form id="loginForm">
      <h2>Login</h2>
      <div class="container1">
      <label id="a" for="username">Username:</label>
      <input id="a" type="text" id="username" name="username" required>
    </div>
    <div class="container1">
      <label id="a" for="password">Password:</label>
      <input id="a" type="password" id="password" name="password" required>
    </div>
    <div class="container1">
      <button type="button">Login</button>
    </div>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
  </div>
</div>
  <!-- <script src="lrscript.js"></script> -->
</body>
</html>
